{{!-- ------------------------------------------------------------------------------------------------------------------
 ANIMATED BAR TEMPLATE
This component creates an animated colored bar for use with loading, graphs, etc.
------------------------------------------------------------------------------------------------------------------- --}}

<span>
	{{animated-counter value=value}}%
</span>
