{{!-- ------------------------------------------------------------------------------------------------------------------
LOADING WINDOW TEMPLATE
This component creates animated circle and text for use when loading results.
------------------------------------------------------------------------------------------------------------------- --}}

<div class="loading-window">
	<div class="loading-window-centered">
		<h1>Team Kiosk</h1>
		<div class="loader"></div>
	</div>
</div>
