// ---------------------------------------------------------------------------------------------------------------------
// LOADING WINDOW COMPONENT
// This component creates animated circle and text for use when loading results.
// ---------------------------------------------------------------------------------------------------------------------

.loading-window {
	background-color: @color-gray;
	position:         absolute;
	height:           100%;
	width:            100%;
	bottom:           0;
	right:            0;
	left:             0;
	top:              0;

	h1 {
		margin-bottom: .5em;
	}

	.loading-window-centered{
		margin:            0;
		position:          absolute;
		top:               50%;
		left:              50%;
		margin-right:      -50%;
		
		.translate(-50%, -50%);
	}

	// http://projects.lukehaas.me/css-loaders/
	.loader {
		margin: 0px auto;
		position: relative;
		text-indent: -9999em;
		border-top: .75em solid rgba(255, 255, 255, 0.2);
		border-right: .75em solid rgba(255, 255, 255, 0.2);
		border-bottom: .75em solid rgba(255, 255, 255, 0.2);
		border-left: .75em solid #ffffff;
		// TODO: add tranzlateZ to pyre
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);

		.animation(load8 1.1s infinite linear);
	}

	.loader, .loader:after {
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
	}

	// TODO: add keyframes to pyre
	@-webkit-keyframes load8 {
		0% {
			.rotate(0deg);
		}
		100% {
			.rotate(360deg);
		}
	}

	@keyframes load8 {
		0% {
			.rotate(0deg);
		}
		100% {
			.rotate(360deg);
		}
	}
}
