{{!-- ------------------------------------------------------------------------------------------------------------------
 APPLICATION VIEW
 This template provides the application chrome for the rest of the ember application.  If we end up adding
 navigation elements, logos, etc. to the entire site, this is where they should go.
------------------------------------------------------------------------------------------------------------------- --}}
<h1 class="invisible">Team Kiosk</h1>
{{outlet}}
