// ---------------------------------------------------------------------------------------------------------------------
// APPLICATION STYLES
// This file should contain all the additional styles for App.Application.  This file should NOT contain
// element styles (see index.less) or styles to be used by specific pods (see the pod dir).
// ---------------------------------------------------------------------------------------------------------------------

.ember-view.main {
	position:   fixed;
	height:     100%;
	width:      100%;
	min-height: 100%;
}


// TODO: move to index.less when gridism.less is included in pyre
.grid .unit {
	padding: 0;
}
