{{!-- ------------------------------------------------------------------------------------------------------------------
 APPLICATION TEMPLATE
 This template provides the application chrome for the rest of the ember application.  If we end up adding
 navigation elements, logos, etc. to the entire site, this is where they should go.
------------------------------------------------------------------------------------------------------------------- --}}

<div id="application">
	<h1 class="invisible">Team Kiosk</h1>

	<input id="application-nav-trigger"     type="checkbox"               class="invisible" />
	<label id="application-nav-label"       for="application-nav-trigger" class="nav-label"></label>
	<label id="application-content-overlay" for="application-nav-trigger" class="content-overlay"></label>

	<nav id="application-header" class="header">
		<h1>Main Navigation</h1>
		<ul>
			{{#link-to 'dashboard' tagName='li'}}
				{{#link-to 'dashboard'}}
					<i class="fa fa-home"></i> Dashboard
				{{/link-to}}
			{{/link-to}}

			{{#link-to 'projects' tagName='li'}}
				{{#link-to 'projects' current-when="projects project"}}
					<i class="fa fa-code"></i> Projects
				{{/link-to}}
			{{/link-to}}
		</ul>
	</nav>

	<main id="application-content" class="content">
		<article class="page">
			{{outlet}}
		</article>
	</main>

</div>
