// ---------------------------------------------------------------------------------------------------------------------
// BUILD STYLES
// This file should contain all the additional styles for App.Project.  This file should NOT contain
// element styles (see index.less) or styles to be used by specific pods (see the [pod] dir).
// ---------------------------------------------------------------------------------------------------------------------

#project {
	.failure {
		color: @color-red;
		display: none;
	}

	.failure.active {
		display: inline;
	}

	.metrics {
		margin: 0 1em 0 0.7em;

		@widget-margin: .5em;
		.widget {
			margin-bottom: @widget-margin*3;
			float: left;
			width: 100%;

			.title {
				font-size: @size-header-tertiary;
			}

			.title.failed {
				font-size: @size-header-secondary;
				color:     @color-red;
			}

			.title.short {
				display: inline-block;
				margin-right: .25em;
			}

			.highlight {
				font-size: @size-header-secondary;
			}

			.error-msg {
				color:    @color-gray-x-light;
				size:     @size-header-tertiary;
				position: relative;
				overflow: hidden;
				height:   5em;
			}

			.error-msg-more { 
				background-image: linear-gradient(to bottom, transparent, @color-gray);
				text-align:       center;
				position:         absolute;
				padding:          .5em 0;
				margin:           0; 
				bottom:           0;
				width:            100%;
				left:             0;
			}

			.graph {
				margin-left: @widget-margin;
				width:       calc(~"100%" - @widget-margin);

				@label-width: 5.5em;
				label {
					display: inline-block;
					width:   @label-width;
				}

				.coverage-bar {
					background-color: darken(@color-gray-light, 4%);
					border-right:     .25em solid darken(@color-gray-x-light, 30%);
					width:            calc(~"100%" - @widget-margin + @label-width);
					display:          inline-block;
					margin-bottom:    1px;
					white-space:      nowrap
				}
			}
		}
	}

	.metrics:last-child::after {
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}

}
