// ---------------------------------------------------------------------------------------------------------------------
// BUILD STYLES
// This file should contain all the additional styles for App.Project.  This file should NOT contain
// element styles (see index.less) or styles to be used by specific pods (see the [pod] dir).
// ---------------------------------------------------------------------------------------------------------------------

#project{
	.failure {
		color: @color-red;
		display: none;
	}

	.failure.active {
		display: inline;
	}


	.metrics {
		margin: 0 1em;

		.widget {
			margin-bottom: @size-padding-large*3;

			.title-value.failed {
				color: @color-red;
			}

			.title-value.short {
				display: inline-block;
			}

			.title-value + .highlight {
				margin-left: @size-padding-large;
				font-size:   @size-header-secondary;
			}

			.error-msg {
				color:         @color-gray-x-light;
				text-overflow: ellipsis;
				overflow:      hidden;
				display:       inline;
			}

			.fade {
				position: relative;
				overflow: hidden;
				height:   5em;
			}

			.graph {
				margin-left: @size-padding-large;
				width:       calc(~"100%" - @size-padding-large);

				@label-width: 5em;
				label {
					display: inline-block;
					width:   @label-width;
				}

				.coverage-bar {
					border-right: .25em solid @color-gray-light;
					width:        calc(~"100%" - @size-padding-large + @label-width);
					display:      inline-block;
				}
			}
		}
	}
}
