// COLORS
@app-text-color:       @color-gray-x-dark;
@app-background-color: @color-gray-x-light;

@color-title-bar-background: @color-gray-x-light;
@color-title-bar-text:       contrast(@color-title-bar-background);

@color-app-navigation:       rgba(0,   0,   128, 1.0);

@color-app-nav-label-background: @color-primary;
@color-app-nav-label-text:       contrast(@color-app-nav-label-background);

// http://colorbrewer2.org/
// Color blind safe colors
@color-failed:     rgb(202,0,32);
@color-failing:    rgb(244,165,130);
@color-build-text: rgb(247,247,247);
@color-building:   rgb(146,197,222);
@color-built:      rgb(5,113,176);

// @color-failed:     rgb(123,50,148);
// @color-failing:    rgb(194,165,207);
// @color-build-text: rgb(247,247,247);
// @color-building:   rgb(166,219,160);
// @color-built:      rgb(0,136,55);



// SIZES
@size-app-title-bar:         40px;
@size-app-menu-bar:          50px;

@size-app-nav-item:          200px;


//TYPE FACES
@font-app-title:             'Open Sans', sans-serif;
@font-app-text:              'Open Sans', serif;


// Z-INDEXES
@z-index-content-overlay:       @z-index-1;
@z-index-app-header-label:      @z-index-1;
@z-index-app-header:            @z-index-1;
