// ---------------------------------------------------------------------------------------------------------------------
// GLOBAL LESS DECLARATIONS
// This file contains all of the global less declarations.  These variables should be scoped to large concepts
// rather than specific use cases.  If anything needs to be overridden from external packages, this is also the
// place to do that.
// ---------------------------------------------------------------------------------------------------------------------

// COLORS
@shade: 10%;

@color-gray-xx-light: hsl(0, 0, .90);
@color-gray-x-light:  hsl(0, 0, .66);
@color-gray-light:    hsl(0, 0, .20);
@color-gray:          hsl(0, 0, .12);
@color-gray-dark:     hsl(0, 0, .7);
@color-gray-x-dark:   hsl(0, 0, .2);

@color-red:         hsl(0, 1, .31);
@color-red-dark:    darken(@color-red, @shade);
@color-red-x-dark:  darken(@color-red, (@shade * 2));
@color-red-light:   lighten(@color-red, @shade);
@color-red-x-light: lighten(@color-red, (@shade * 2));

@color-green:         hsl(120, 1, .25);
@color-green-dark:    darken(@color-green, @shade);
@color-green-x-dark:  darken(@color-green, (@shade * 2));
@color-green-light:   lighten(@color-green, @shade);
@color-green-x-light: lighten(@color-green, (@shade * 2));

@color-orange:         hsl(27, 1, .31);
@color-orange-dark:    darken(@color-orange, @shade);
@color-orange-x-dark:  darken(@color-orange, (@shade * 2));
@color-orange-light:   lighten(@color-orange, @shade);
@color-orange-x-light: lighten(@color-orange, (@shade * 2));


//TYPE FACES
@font-app-title: 'Source Sans Pro Light', sans-serif;
@font-app-text:  'Source Sans Pro', sans-serif;
