// ---------------------------------------------------------------------------------------------------------------------
// GLOBAL LESS DECLARATIONS
// This file contains all of the global less declarations.  These variables should be scoped to large concepts
// rather than specific use cases.  If anything needs to be overridden from external packages, this is also the
// place to do that.
// ---------------------------------------------------------------------------------------------------------------------

// COLORS
@color-gray-x-light: #AAAA9A;
@color-gray-light:   #343434;
@color-gray:         #202020;
@color-gray-dark:    #111111;
@color-gray-x-dark:  #060606;


@color-red:   rgb(128, 0, 0);
@color-green: green;


//TYPE FACES
@font-app-title: 'Open Sans', sans-serif;
@font-app-text:  'Open Sans', serif;

