/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}


/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	min-height: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
b, strong {
	font-weight: bold;
}
abbr[title] {
	border-bottom: 1px dotted;
}
input, textarea, button, select {
	margin: 0;
	line-height: normal;
	vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
textarea {
	overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
*
*  Simple fluid media
*
*/

figure {
	position: relative;
}
figure img, figure object, figure embed, figure video {
	max-width: 100%;
	display: block;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
// TODO: @pyre fix pyre build order bug and then move the code above this line into a separate file or into pyre.


// ---------------------------------------------------------------------------------------------------------------------
// GLOBAL LESS DECLARATIONS
// This file contains all of the global less declarations.  These variables should be scoped to large concepts
// rather than specific use cases.  If anything needs to be overridden from external packages, this is also the
// place to do that.
// ---------------------------------------------------------------------------------------------------------------------

// COLORS
@shade: 10%;

@color-gray-xx-light: hsl(0, 0, .90);
@color-gray-x-light:  hsl(0, 0, .66);
@color-gray-light:    hsl(0, 0, .20);
@color-gray:          hsl(0, 0, .12);
@color-gray-dark:     hsl(0, 0, .7);
@color-gray-x-dark:   hsl(0, 0, .2);

@color-red:         hsl(0, 1, .31);
@color-red-dark:    darken(@color-red, @shade);
@color-red-x-dark:  darken(@color-red, (@shade * 2));
@color-red-light:   lighten(@color-red, @shade);
@color-red-x-light: lighten(@color-red, (@shade * 2));

@color-green:         hsl(120, 1, .25);
@color-green-dark:    darken(@color-green, @shade);
@color-green-x-dark:  darken(@color-green, (@shade * 2));
@color-green-light:   lighten(@color-green, @shade);
@color-green-x-light: lighten(@color-green, (@shade * 2));

@color-orange:         hsl(27, 1, .31);
@color-orange-dark:    darken(@color-orange, @shade);
@color-orange-x-dark:  darken(@color-orange, (@shade * 2));
@color-orange-light:   lighten(@color-orange, @shade);
@color-orange-x-light: lighten(@color-orange, (@shade * 2));


//TYPE FACES
@font-app-title: 'Source Sans Pro Light', sans-serif;
@font-app-text:  'Source Sans Pro', sans-serif;


// TODO: @pyre add these to pyre along with default font size for html & body
@size-base-font: 12px;

@size-header-primary:   2.25em;
@size-header-secondary: 1.50em;
@size-header-tertiary:  1.10em;
// TODO: @pyre fix pyre build order bug and then move the code above this line
// into a separate file or into pyre.




html, body {
	color:       @color-gray-x-light;
	background:  @color-gray;
	font-family: @font-app-text;

	height:      100%;
	min-height:  100%;

	overflow-x:  hidden;
}


html {
	font-size:   @size-base-font;
}


body {
	font-size: 1rem;
}


h1, h2, h3 {
	font-family: @font-app-title;
	font-weight: 300;
}

h1 {
	font-size:     @size-header-primary;
	line-height:   @size-header-primary * .66;
}

h2 {
	font-size:     @size-header-secondary;
	line-height:   @size-header-secondary * .66;
}

h3 {
	font-size:     @size-header-tertiary;
	line-height:   @size-header-tertiary * .66;
}

a {
	color:           @color-gray-xx-light;
	text-decoration: none;
}


a:hover {
	color:           @color-white;
	text-decoration: underline;
}


button {
	text-shadow: 0 .05em .1em @color-gray;
	box-shadow:  inset 0 -2px @color-white;
	background:  @color-orange-light;
	color:       @color-white;
	transition:  all 0.25s;
	font-size:   1em;
	padding:     .5em;
	outline:     none;
	width:       100%;
	border:      0;

}

button.inactive {
	box-shadow:  inset 0 -2px @color-gray-light;
	background:  @color-gray-light;
	color:       @color-gray-x-light;
	text-shadow: none;
}

.input-group {
	padding-top: 1.5em;
	position:    relative;
	display:     table;
	clear:       both;
	width:       100%;

	input {
		background-color: @color-gray-light;
		color:            @color-gray-x-light;
		border:           none;
		border-bottom:    solid 2px @color-gray-x-light;
		outline:          none;
		font-size:        1.25em;
		padding:          .5em;
		width:            100%;
		transition:       all .25s;
	}

	input:focus {
		border-bottom: solid 2px @color-orange-x-light;
		color:         @color-white;
	}

	input + label {
		position:    absolute;
		font-weight: bold;
		top:         0;
		left:        0;
	}

	input:focus + label {
		color:      @color-orange-x-light;
		transition: all .25s;
	}

}


input[type=checkbox] {
	display:none; 
}


input[type=checkbox] + label:before {
	font-family: Black Tie;
	font-weight: bold;
	display: inline-block;
}


input[type=checkbox] + label:before { 
	content: "\F08B"; // unchecked icon
}


input[type=checkbox] + label:before { 
	letter-spacing: .2em;  //space between checkbox and label
}


input[type=checkbox]:checked + label:before { 
	content: "\F014"; //checked icon
}


input[type=checkbox]:checked + label:before {
	letter-spacing: .2em; //allow space for check mark
}


.invisible {
	display: none;
}


.highlight {
	color: @color-orange-x-light;
}

.emphasize {
	color: @color-white;
}

.alert {
	color: @color-red-x-light;
}


// These media queries are the first layer of adjustment.
// After this point, look to the individual pods for specific
// size adjustments.
@media screen and (min-height: 550px) {
	body {
		font-size: 1.2rem;
	}
}

@media screen and (min-height: 650px) {
	body {
		font-size: 1.4rem;
	}
}

// TODO: Add text shadow where appropriate