// ---------------------------------------------------------------------------------------------------------------------
// SETTINGS STYLES
// This file should contain all the additional styles for App.Settings.  This file should NOT contain
// element styles (see index.less) or styles to be used by specific pods (see the [pod] dir).
// ---------------------------------------------------------------------------------------------------------------------

#settings {

	form {
		max-width: 400px;
		margin:    auto;

		.row {
			margin-bottom: 2.5em;

			.default {
				margin-bottom: 1em;
				font-size:     .85em;
				font-style:    italic;
				display:       block;
				padding-top:   0;
			}

			.help {
				text-align: justify;
				display:    inline-block;
			}

			.input-group.with-type-label {
				@size-label: 6em;

				input {
					width: calc(~"100%" - @size-label); // Subtract the size of the label from the full width
					float: left;
				}
				
				label.type {
					background-color: @color-gray-x-light;
					color:            @color-gray;
					display:          inline-block;
					height:           100%;
					text-align:       center;
					padding-top:      .75em;

					width:            @size-label; // The size of the label subtracted above
				}

				input:focus ~ label.type {
					background-color: @color-orange-light;
					color:            @color-white;
					transition:       all .25s;
				}
			}

		}
	}

	button.saving {
		background: @color-gray-light;
		color:      @color-gray-x-light;
		box-shadow: none;
	}
}


