{{!-- ------------------------------------------------------------------------------------------------------------------
 SETTINGS TEMPLATE
 This template provides the settings view for the application.  It displays a list of all the settings and allows
 them to be edited in line.
------------------------------------------------------------------------------------------------------------------- --}}

<div id="settings">
	<h1>Settings</h1>
	{{!-- TODO: make this input form better --}}
	{{input value=model.buildPolling}}
	{{input value=model.projectRotation}}

</div>