<div id="page" style="position:absolute; right:0; left:0; background:red; height: 100%; overflow:hidden;">
        <div class="top blah">
            <p> TOP BAR </p>
        </div>

        <div id="main" class="blah">
            <div class="col-8 left-sidebar">
                <p> left side </p>
            </div>

            <div class="col-4 left-sidebar">
                <p> left side </p>
            </div>

            <div id="last" class="col-4 main-1">
                <p> column 1 </p>
            </div>

        </div>
        <div id="footer" class="main-2" style="position:absolute; bottom:0; right:0; height:100px; ">
            <p> column 2 </p>
        </div>

</div>
