// ---------------------------------------------------------------------------------------------------------------------
// DASHBOARD STYLES
// This file should contain all the additional styles for App.Dashboard.  This file should NOT contain
// element styles (see index.less) or styles to be used by specific pods (see the [pod] dir).
// ---------------------------------------------------------------------------------------------------------------------

#dashboard {
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;

	nav {
		margin-right:  -@application-size-page-margin/2;
		height:        @size-header-primary;
		margin-bottom: @size-padding-medium;

		// TODO: figure out why this adjustment is needed
		margin-top:   .25em;
	}

	.nav-item {
		background-color: @color-green;
		border-bottom:    @color-gray-x-dark solid 1px;
		border-right:     @color-gray-x-dark solid 1px;
		height:           @size-header-primary;
		box-sizing:       border-box;
		float:            left;
		list-style-type:  none;

		/* fancy */
		transition:       all 0.25s;
	}

	.nav-item.active {
		box-shadow: 0px 0px 8px 2px @color-gray-x-dark;
		transform:  scale(1.15);
		z-index:    @z-index-1;
		border:     none;
	}

	.builds-container {
		margin:    -@application-size-page-margin/2;
		overflow:  hidden;
		height:    10em;
		font-size: .65em;

		#builds {
			h1{
				display: none;
			}

			.build-item {
				border-right:  .5em @color-green solid;
				padding-right: 1em;
				border-left:   none;
				text-align:    right;
			}

			.build-item.failed {
				border-right: .5em @color-red solid;
			}
		}
	}

	// .builds-container.failed {
	// 	left:0;
	// 	top: 0;
	// 	// text-align: left;
	// 	background-color: @color-gray;
	// 	font-size: 4em;
	// }

	// .builds-container.failed::before {
	// 	display: block;
	// 	content: "Failing Builds";
	// 	font-size: 1em;
	// 	font-family:    @font-app-title;
	// 	margin-bottom: .25em;
	// }

}





// #dashboard .builds.failed .build-item {
// 	font-size: 1em;
// }

// #dashboard .builds.failed .title {
// 	font-size: 3em;
// }

// #dashboard .builds.failed .durationTitle {
// 	display: none;
// }

// #dashboard .builds.failed {
// 	left:0;
// 	top: 0;
// 	text-align: left;
// 	background-color: @color-gray;
// }

// #dashboard .builds.failed::before {
// 	display: block;
// 	content: "Failing Builds";
// 	font-size: 1em;
// 	font-family:    @font-app-title;
// 	margin-bottom: .25em;
// 	color: @color-red;
// }




// @media (min-height: 600px) and (orientation:portrait), (min-height: 300px) and (orientation:landscape) {
// 	#dashboard .graph {
// 		display: block;
// 	}

// 	#dashboard .builds-container {
// 		display: block;
// 	}
// }

// @media (orientation:landscape) {
// 	#dashboard .widget {
// 		float: left;
// 		width: calc(~"50%" - 3em);
// 	}
// }

// @media (min-width: 800px) {
// 	#dashboard h1 {
// 		font-size: 2em;
// 	}
// }
