<div class="dashboard">
	<article>
		{{render "build" model}}
	</article>
	<aside>
		{{render "builds" builds}}
	</aside>
	<nav>
		{{render "favorites" favorites}}
	</nav>
</div>

<style type="text/css">

	.dashboard {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}

	article {
		flex: 1 100%;
	}

	aside {
		flex: 1 auto;
		position: relative;
	}
	nav {
		flex: 2 0px;
		position: relative;
	}

</style>
