.build-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.build-item {
	flex: 1;
	box-sizing: border-box;
	min-height: 20%;
	font-size: x-large;
	/* fancy */
	cursor: pointer;
	transition: all 0.25s;
}

.broken-item {
	background-color: @color-red;
}

.fill-height-or-more {
	position: absolute;
	top: 28px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	// text-align: center;
}

.fill-height-or-more > div {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;
}

.fill-height-or-more > div:nth-child(1) {
	margin-top: 0px
}


.quality-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.quality-item {
	background-color: #3d72b4;
	border-bottom: white solid 1px;
	border-right: white solid 1px;
	box-sizing: border-box;
	height: 10px;

	/* fancy */
	cursor: pointer;
	transition: all 0.25s;
}

.quality-item:not(.selected) {
	color: #525252;
}

.quality-item:hover {
	box-shadow: 0px 0px 8px 4px #333;
	transform: scale(1.25);
	z-index: 2;
	border: none;
}


.quality-item.active {
	box-shadow: 0px 0px 8px 4px #333;
	transform: scale(1.25);
	z-index: 2;
	border: none;
}

.quality-item {
		background-color:green;
}

.selected  {
	 border: 5px solid yellow;
}

