.build-container {
	display: flex;
	flex-direction: column;
	margin: 20px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
}

.build-item {
	flex: 1;

	background-color: #3d72b4;
	border-bottom: white solid 1px;
	border-right: white solid 1px;
	box-sizing: border-box;

	/* fancy */
	cursor: pointer;
	transition: all 0.25s;
}

.build-item {
	background-color:blue;
}
