.build-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.build-item {
	flex: 1;

	background-color: #3d72b4;
	border-bottom: white solid 1px;
	border-right: white solid 1px;
	box-sizing: border-box;
	min-height: 20%;

	/* fancy */
	cursor: pointer;
	transition: all 0.25s;
}

.build-item {
	background-color:blue;
}
