<div class="configuration">

	<h1>Team Kiosk Configuration</h1>

	<div class="input-wrapper">
		<label for="url" >Root Domain</label>
		{{input id="url" class="input" value=model.repository}}
	</div>

	{{#each project in model.projects}}
		{{configuration-favorite project=project }}
	{{/each}}

</div>


<style type="text/css">

	.input {
		border: none;
		border-radius: 5px;
		display: block;
		padding-top: 30px;
	}

	.input-wrapper {
		position: relative;
	}

	.input-wrapper > label {
		position: absolute;
		top: 0;
		padding-top: 0.4rem;
		left: 0.6rem;
		color: #999999;
		font-size: 1em;
		font-weight: 400;
	}

	.configuration {
		max-width: 800px;
		margin: 0 auto;
	}
</style>
